<!DOCTYPE html>
<html ng-app="RoleBoard">
<head>
<title>Title of the document</title>
<script src="/node_modules/angular/angular.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
var roleBoard = angular.module('RoleBoard', []);

roleBoard.controller('BoardCtrl', function ($scope, socket) {
  $scope.players = [];
  $scope.messages = [];

  socket.on('players:online', function (data) {
    data.players.forEach(function (player) {
      $scope.addPlayer({
        id: player.id,
        name: player.name,
        level: player.level,
        race: player.race,
        class: player.class
      });
    });
  });

  socket.on('player:join', function (data) {
    console.log("player:join");
    console.log(data);
    
    $scope.messages.push({
      user: 'chatroom',
      text: 'User ' + data.player.name + ' has joined.'
    });
    
    $scope.addPlayer({
      id: data.player.id,
      name: data.player.name,
      level: data.player.level,
      race: data.player.race,
      class: data.player.class
    });
  });

  socket.on('player:left', function (data) {
    console.log("player:left");
    console.log(data);

    $scope.messages.push({
      user: 'chatroom',
      text: 'User ' + data.player.id + ' has left.'
    });

    $scope.removePlayer(data.player.id);
  });

  socket.on('roll', function (data) {
    console.log("roll");
    console.log(data);

    $scope.messages.push({
      user: data.player,
      text: data.player + " Tiro un dado y consiguio " + data.roll + "/" + data.faces
    });
  });

  $scope.rollDice = function () {
    console.log("Requesting a dice roll to the server...");
    socket.emit('roll', {faces: 20});
  };

  $scope.addPlayer = function (player) {
    var repeated;
    $scope.players.forEach(function (p) {
      if (player.id == p.id) {
        repeated = true;
        return true;
      }
    });

    if (repeated)
      return;

    $scope.players.push({
      id: player.id,
      name: player.name,
      level: player.level,
      race: player.race,
      class: player.class,
    });
  }

  $scope.removePlayer = function (id) {
    var player;
    for (var i = 0; i < $scope.players.length; i++) {
      player = $scope.players[i];
      
      if (player.id === id) {
        $scope.players.splice(i--, 1);
      }
    }
  };
});

roleBoard.factory('socket', function ($rootScope) {
  console.log("Connecting to the server...");

  var socket = io.connect();
  return {
    on: function (eventName, callback) {
      socket.on(eventName, function () {
        var args = arguments;
        $rootScope.$apply(function () {
          callback.apply(socket, args);
        });
      });
    },

    emit: function (eventName, data, callback) {
      socket.emit(eventName, data, function () {
        var args = arguments;
        $rootScope.$apply(function () {
          if (callback) {
            callback.apply(socket, args);
          }
        });
      })
    }
  };
});
</script>
</head>
<body ng-controller="BoardCtrl">
    <h1>D&amp;D</h1>

    <button ng-click="rollDice()">Tirar Dado</button>

    <div id="players">
        <h3>Players: {{players.length}}</h3>
        <ul>
          <li ng-repeat="player in players">
            <span>{{player.name}}</span>
            <span>({{player.race}} / {{player.class}})</span>
          </li>
        </ul>
    </div>

    <div id="messages">
      <ul>
        <li ng-repeat="message in messages">
          <span>{{message.timestamp}}</span>
          <span>{{message.text}}</span>
        </li>
      </ul>
    </div>
</body>
</html>
